<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro|Roboto:300,700|Cabin:700' rel='stylesheet' type='text/css'>
    <title>Bienvenue sur Metropolis</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="background: #e2e2e2; margin: 0;padding: 0;height: 100% !important;width: 100% !important;">
        <tr>
          <td align="center" valign="top">
            <!-- // Begin Template Preheader \\ -->
            <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #e2e2e2;">
              <tr>
                <td valign="top" class="preheaderContent">
                  <!-- // Begin Module: Standard Preheader \\ -->
                  <table border="0" cellpadding="10" cellspacing="0" width="100%">
                    <tr>
                      <td valign="top">
                        <div mc:edit="std_preheader_links" style="color: #505050;font-family: 'Roboto';font-size: 14px;line-height: 100%;text-align: center;font-weight: 300;">
                          <!-- *|IFNOT:ARCHIVE_PAGE|* --><a href="{LIEN MAIL}" target="_blank" style="color: #006fbe;font-weight: normal;text-decoration: none;">Voir ce mail dans le navigateur</a>.<!-- *|END:IF|* -->
                        </div>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Module: Standard Preheader \\ -->
                </td>
              </tr>
            </table>
            <!-- // End Template Preheader \\ -->
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="background-color: #FDFDFD;">
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Header \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #2a2a68;border-bottom: 0;padding: 40px 0;">
                    <tr>
                      <td class="headerContent" style="color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">
                        <!-- // Begin Module: Standard Header Image \\ -->
                        <img src="https://gallery.mailchimp.com/ca42d2ea765439578c2c0afcb/images/90ba00b0-b4b2-42d1-91b0-8c671dcb61ba.png" style="max-width: 600px;border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="">
                        <!-- // End Module: Standard Header Image \\ -->
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Header \\ -->
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Body \\ -->
                  <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                    <tr>
                      <td valign="top" class="bodyContent" style="background-color: #FDFDFD;">
                        <!-- // Begin Module: Standard Content \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tr>
                            <td valign="top">
                              <div mc:edit="std_content00" style="color: #505050;font-family: 'Roboto';font-size: 16px;line-height: 150%;text-align: center;">
                                <span style="display:block;width: 10%;height: 2px;background: #ff525f;margin:0 auto 20px;"></span>
                                <span class="h1" style="color: #585ba5;display: block;font-family: 'Cabin';font-size: 16px;font-weight: bold;line-height: 100%;margin-bottom: 20px;text-transform: uppercase;text-align: center;">Vous avez soutenu un réalisateur sur <b style="color: #ff525f;">Metropolis</b> !</span>
                                Félicitations, le projet <b style="color: #282e66"><%= project_name %></b> est terminé et<br>
                                c'est grâce à votre soutien.<br><br>
                                N'attendez plus, découvrez le projet de <b style="color: #282e66"><%= author %></b><br>
                                et n'hésitez pas à donner votre avis sur son projet.<br><br>
                                Continuez à soutenir des talents sur la page compétition<br>
                                de <b style="color: #282e66">Metropolis</b>.<br><br>
                                <img src="https://gallery.mailchimp.com/ca42d2ea765439578c2c0afcb/images/381b675d-8188-4d6a-83d2-d41adb079746.png" alt="Changer de mot de passe" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;margin-bottom: 10px;width:200px;"> <br><br>
                                <a href= <%= "http://#{ENV['APP_FRONT_DOMAIN']}/#{project_slug}" %> style="text-decoration: none;text-transform:uppercase;font-family:'Maven Pro';font-size: 14px; background: #ff525f;color:#fff;padding:12px 22px;border-radius:4px;">Visionner le film</a><br><br>
                                <strong>L'équipe Metropolis</strong>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Standard Content \\ -->
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Body \\ -->
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <!-- // Begin Template Footer \\ -->
                  <table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #FDFDFD;border-top: 0;">
                    <tr>
                      <td valign="top" class="footerContent">
                        <!-- // Begin Module: Standard Footer \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tr>
                            <td colspan="2" valign="middle" id="social">
                              <div class="separatorSocial" style="width: 20%;margin: auto;height: 1px;background: #cccccc;margin-bottom: 40px;color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;"></div>
                              <div mc:edit="std_social" style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                &nbsp;<a href="https://www.facebook.com/metropolis.watch/" style="color: #336699;font-weight: normal;text-decoration: underline;"><img src="https://gallery.mailchimp.com/ca42d2ea765439578c2c0afcb/images/1fe81199-394a-448b-a3a7-4d1b3c429c43.jpg" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;width: 50px;margin: 0 10px;"></a><a href="https://www.youtube.com/channel/UCgDdvdGUbg51RLU8QNYZjMQ" style="color: #336699;font-weight: normal;text-decoration: underline;"><img src="https://gallery.mailchimp.com/ca42d2ea765439578c2c0afcb/images/e517d3c3-8725-4076-917a-2400acf09340.jpg" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;width: 50px;margin: 0 10px;"></a><a href="https://www.snapchat.com/add/metropoliswatch" style="color: #336699;font-weight: normal;text-decoration: underline;"><img src="https://gallery.mailchimp.com/ca42d2ea765439578c2c0afcb/images/1d1dfb3e-d965-4f19-9c0a-0a63b68e7078.jpg" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;width: 50px;margin: 0 10px;"></a><a href="https://www.instagram.com/metropoliswatch/" style="color: #336699;font-weight: normal;text-decoration: underline;"><img src="https://gallery.mailchimp.com/ca42d2ea765439578c2c0afcb/images/ae1a9d57-5bdb-47ff-9c6e-4a6f424e29f7.jpg" style="border: none;font-size: 14px;font-weight: bold;height: auto;line-height: 100%;outline: none;text-decoration: none;text-transform: capitalize;display: inline;width: 50px;margin: 0 10px;"></a>&nbsp;
                                <div class="likeMetropolis" style="text-transform: uppercase;margin-top: 20px;font-family: Arial;font-weight: bold;color: #707070;font-size: 12px;line-height: 125%;text-align: center;">Abonnez-vous à la chaine youtube de Metropolis <span class="redHeart" style="color: red;">♥</span></div>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Standard Footer \\ -->
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Footer \\ -->
                </td>
              </tr>
            </table>
            <br>
          </td>
        </tr>
        <tr>
          <td>
            <p class="afterMail" style="color: #505050;font-family: 'Roboto';font-size: 14px;line-height: 150%;text-align: center;font-weight: 300;">Cet email a été envoyé automatiquement et ne peut recevoir de réponses.<br> Si vous avez besoin d'informations ou d'assistance, n'hésitez pas à <strong>nous contacter</strong><br>Copyright © 2016 Metropolis</p>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
